body{
		background: url("../img/bk1.png");
		background-size: 100%;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment:fixed;
	}
.header{
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size:100%;
	background-position: center;
	height: 400px;
	width: 100%;
	z-index:-1;
}

.menubar ul{
	background-color: black;
	opacity: 0.8;
	width: 98.8%;
	height: 60px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	list-style-type: none;
	position: absolute;
	z-index:9999;
	margin-top: -68px;
}
.menubar li{
	float: left;
}
.menubar li a{
	display: block;
	text-align: center;
	padding: 20px 15px;
	text-decoration: none;
	font-family: Sniglet;;
	color: white;
	
}
.menubar li a:hover{
	background-color: #6495ED;
}
.menubar li a:visited{
	color: white;
	z-index:9999;
}


.menu2{
	background-color: white;
	opacity: 0.9;
	width: 100%;
	height: auto;
	float: left;
	
}
.menu2 h2{
	margin-left: 65px;
	font-family: Sniglet;
}
.menu2 p{
	margin-left: 65px;
	font-family: Roboto Condensed;
}

.alu{
	height: 10px; 
	width: 43%; 
	background-color: #6495ED;  
	margin-left: 65px;
	float: left;
}
.alu1{
	height: 10px; 
	width: 50%; 
	background-color: #5F9EA0;  
	margin-left: 605px;
}
.tabell{
	margin-left: 70px; 
}

form {
    width:1400px;
    margin-left: 65px;
}
.search {
    padding:15px 15px;
    background:white;
    border:1px solid black;
    width: 600px;
    border-radius: 5px;

}

.select {
    padding:15px 15px;
    background:white;
    border:1px solid black;
    width: 630px;
    border-radius: 5px;

}


.button {
    padding:9px 12px;
    left:-8px;
    border:2px solid #53bd84;
    background-color:#53bd84;
    color:#fafafa;
    width: 100px;
    border-radius: 5px;
}
.button:hover  {
    background-color:#fafafa;
    color:#207cca;
}

.button2 {
    padding:9px 12px;
    left:-8px;
    border:2px solid red;
    background-color:red;
    color:#fafafa;
    width: 100px;
    border-radius: 5px;
}
.button2:hover  {
    background-color:#fafafa;
    color:#207cca;
}



.footer{
	background-color: black;
	opacity: 0.7;
	width: 100%;
	height: 70px;
	bottom: 0px;
	margin-bottom: 1px;
	padding: 0;
	overflow: hidden;
	margin-bottom: -250px;
	text-align: center;
	margin-top: 30px;
	color: white;
	font-family: Sniglet;
}